<style>
  label {
    font-size: 1.6em;
  }

  .button_to {
    display: inline;
  }
</style>

<% if @email.present? %>
  <div style="font-size: 1.6em; padding-bottom: 0"><strong>Signed in as:</strong> <%= @email %> | <%= button_to 'Sign out', { email: '' }, method: :get %></div>
<% else %>
  <%= form_tag url_for, method: :get do %>
    <%= label_tag :email, 'Email:' %>
    <%= text_field_tag :email, {}, size: 40 %>
    <%= submit_tag 'Sign in' %>
  <% end %>
<% end %>

<h2 id="learning-management-system">Learning Management System</h2>

<h3 id="shared-invitation-links">Shared invitation links</h3>

<ul>
  <li><a href="https://go1.sandbox.futurelearn.com/invitations/gofreerange/introduction-to-environmental-science/0d75qh57472x8xaui0gvb9vyi24psze">A Beginner’s Guide to Environmental Science: Wicked Problems and Possible Solutions</a></li>
  <li><a href="https://go1.sandbox.futurelearn.com/invitations/gofreerange/become-a-blockchain-developer-foundations/qjye9egrxl53eztfvap3s8xiybfbq7u">A Beginner’s Guide to Becoming a Blockchain Developer with Overledger</a></li>
  <li><a href="https://go1.sandbox.futurelearn.com/invitations/gofreerange/english-for-study/abzayj8gwry6acue35plc42dvuxnlsx">A Beginner’s Guide to Writing in English for University Study</a></li>
</ul>

<h3 id="saml-enrolment-links">SAML enrolment links</h3>

<ul>
  <li><a href="https://go1.sandbox.futurelearn.com/saml-enrolment/3lmbrci9j3q0m0wjg0xo0tu2muwhpvk">A Beginner’s Guide to Environmental Science: Wicked Problems and Possible Solutions</a></li>
  <li><a href="https://go1.sandbox.futurelearn.com/saml-enrolment/tp94uec3xw3gxzphwk391oqwbmc114d">A Beginner’s Guide to Becoming a Blockchain Developer with Overledger</a></li>
  <li><a href="https://go1.sandbox.futurelearn.com/saml-enrolment/lsoqzk64ohiml4euzr7uvue7uucenbu">A Beginner’s Guide to Writing in English for University Study</a></li>
</ul>

<h3 id="lti-launch-requests">LTI launch requests</h3>

<% if @email.present? %>
  <ul>
    <li>A Beginner’s Guide to Environmental Science: Wicked Problems and Possible Solutions - <%= button_to 'Launch', action: :lti, email: @email, course_uuid: '1cbc7af1-4836-4591-83b3-342a81092726' %></li>
    <li>A Beginner’s Guide to Becoming a Blockchain Developer with Overledger - <%= button_to 'Launch', action: :lti, email: @email, course_uuid: 'f696bccc-e557-4dea-a7f2-0bf5fa13a82c' %></li>
    <li>A Beginner’s Guide to Writing in English for University Study - <%= button_to 'Launch', action: :lti, email: @email, course_uuid: '3f0833fa-070a-4c8f-9319-849e5f04ba08' %></li>
  </ul>
<% else %>
  <p style="padding-bottom: 0">No courses available - please sign in!</p>
<% end %>
