%p
  %a{:href => "/printer"} Back to main project page

%h2#tag
  Printer &mdash; Buy a kit.

.section.group
  %p
    You can always buy the components to <a href="https://github.com/freerange/printer/wiki/Making-your-own-printer">build a printer yourself</a>, but we thought some people might be interested in purchasing a kit, pre-configured and ready to run.

  %p
    This is a bit of an experiment for us, but if you're an enterprising hobbyist who is willing to take a leap, we've got a few options that you might be interested in.


  .important-notes
    %p
      Please note, we're currently only able to ship these kits within the UK. If you're not in the UK,
      %a{:href => "#register"} please let us know
      and we'll see what we can do.
    %p
      It's also very important that you read our
      %a{:href => "#important-notes"}
        IMPORTANT NOTES
      about using these kits. Did I mention it was important?
      = succeed "." do
        %a{:href => "#important-notes"}
          It's important

  %h2 The kits!

  .printer-kit-option
    %h3 GFR Printer kit with Shield

    %p
      This is the easiest kit to assemble, and includes our prototype shield holding all the connections for the printer, and some status LEDs. Just plug it together, plug it in, and it's ready to go.

    %p
      You can order this kit with an Arduino, or use your own
      %a{:href => "http://arduino.cc/en/Main/ArduinoBoardEthernet"} Arduino Ethernet
      or
      %a{:href => "http://arduino.cc/en/Main/arduinoBoardUno"} Arduino Uno
      +
      = succeed "." do
        %a{:href => "http://arduino.cc/en/Main/ArduinoEthernetShield"} Ethernet Shield
      We'll supply the Arduino pre-programmed and ready to go; if you use your own, you will have to ensure that your Arduino is compatible, and program it with
      %a{:href => "https://github.com/freerange/printer/blob/master/printer.ino"} the sketch
      yourself. We've been prototyping the printers using an Arduino Ethernet, and the shield follows the typical Arduino pin layout.

    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:type => "hidden", :name => "cmd", :value => "_s-xclick"}
      %input{:type => "hidden", :name => "hosted_button_id", :value => "N55XL6KTQLP9J"}
      %input{:type => "hidden", :name => "on0", :value => "Options"}

      %p.buy
        Buy
        %select{:name => "os0"}
          %option{:value => "with Arduino Ethernet"}
            with Arduino Ethernet £110.00 GBP
          %option{:value => "without Arduino"}
            without Arduino £75.00 GBP

        incl. VAT & postage

        %input{:type => "image", :src => "https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif", :border => "0", :name => "submit", :alt => "PayPal — The safer, easier way to pay online."}
        %img{:alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :width => "1", :height => "1"}

    %p What you'll get:
    %ul
      %li a <em>hand-crafted</em> GFR Printer Shield, with 3 gorgeous LEDs and one <em>artisanal</em> push-button, wired up and ready to go
      %li a Printer, plus wires to connect it to the shield
      %li some thermal paper to get you started
      %li a 9V/2AMP UK power supply
      %li
        if you chose the Arduino option:
        %ul
          %li an Arduino Ethernet, preconfigured but fully hackable
          %li a micro SD card required by the Arduino to use as a download cache

    %p What you'll need to provide:
    %ul
      %li an ethernet cable
      %li an internet connection at the other end of that ethernet cable
      %li an FTDI-compatible programmer cable (if you want to modify the program on the supplied Arduino)
      %li
        if you didn't select the Arduino option:
        %ul
          %li an Arduino Ethernet, or Arduino + Ethernet Shield
          %li a micro SD card to fit in the Arduino or shield

    %p.terms
      Please read
      %a{:href => "#important-notes"}
        these important notes
      before making your purchase.

  .printer-kit-option
    %h3 GFR Printer breadboard component kit

    %p
      This kit is as above, but the components aren't soldered onto a shield; instead, you'll need to assemble the circuit yourself on a breadboard using
      = succeed "." do
        %a{:href => "https://github.com/freerange/printer/wiki/Making-your-own-printer"}
          our instructions

    %p Depending on your perspective, this might be more hassle, or it might allow you to experiment with different circuits &mdash; the choice is yours!

    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:type => "hidden", :name => "cmd", :value => "_s-xclick"}
      %input{:type => "hidden", :name => "hosted_button_id", :value => "SWFS9D2DRRFTC"}
      %input{:type => "hidden", :name => "on0", :value => "Options"}

      %p.buy
        Buy
        %select{:name => "os0"}
          %option{:value => "with Arduino Ethernet"}
            with Arduino Ethernet £100.00 GBP
          %option{:value => "without Arduino"}
            without Arduino £65.00 GBP

        incl. VAT & postage

        %input{:type => "image", :src => "https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif", :border => "0", :name => "submit", :alt => "PayPal — The safer, easier way to pay online."}
        %img{:alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :width => "1", :height => "1"}

    %p What you'll get:
    %ul
      %li a Printer, plus wires to connect it to the shield
      %li some thermal paper to get you started
      %li a 9V/2AMP UK power supply
      %li
        a mini breadboard and all the LEDs, wires, resistors and button required to follow
        = succeed "." do
          %a{:href => "https://github.com/freerange/printer/wiki/Making-your-own-printer"}
            our instructions
      %li
        if you chose the Arduino option:
        %ul
          %li an Arduino Ethernet, preconfigured but fully hackable
          %li a micro SD card required by the Arduino to use as a download cache

    %p
      What you'll need to provide:
    %ul
      %li an ethernet cable
      %li an internet connection at the other end of that ethernet cable
      %li an FTDI-compatible programmer cable (if you want to modify the program on the supplied Arduino)
      %li
        if you didn't select the Arduino option:
        %ul
          %li an Arduino Ethernet, or Arduino + Ethernet Shield
          %li a micro SD card to fit in the Arduino or shield

    %p.terms
      Please read
      %a{:href => "#important-notes"}
        these important notes
      before making your purchase.


.section.group
  %a{:name => "kit"}
  %h2#register Register interest in a Printer kit
  %p
    At the moment, we're only able to supply these kits in the UK. However, if you're not in the UK and still interested, please let us know and we'll see what we can do.
  <iframe src="https://docs.google.com/a/gofreerange.com/spreadsheet/embeddedform?formkey=dHFMOFdIWVo4Ym9ITDhhbHhibktOUHc6MQ" width="606" height="594" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

%h2#important-notes
  Important notes

%p What you're buying here is a kit for hobbyists who are interested in <em>exploring</em> and <em>hacking</em> around with small, connected printers. Arduino is a prototyping platform, and as such there <em>can</em> be some rough edges. It's possible that your particular networking configuration may not play nicely with Arduino's networking chip, for example.

%p
  If you are having problems with your kit, please
  %a{:href => "mailto:printer@gofreerange.com"}
    get in touch
  and we'll do our very best to help you out, but we think it's important you know up-front that we can't make any guarantees that the kit will work perfectly for you. As they say in longer T&Cs, the kits are supplied "as-is and without warranty". We honestly really will try our best to get you set up though.

%p
  Where the kits include an Arduino, it will be preconfigured to connect to
  = succeed "." do
    %a{:href => "http://printer.gofreerange.com"}
      our Printer server
  While we're making our best efforts to keep that server running, it's unfortunately impossible for us to guarantee that it will always be available. The good news is that all of the code behind it is open source, so anyone can run their own server if Go Free Range all get abducted by aliens.


:layout: project-layout
