%h2#tag
  Printer.

.section.group
  %p
    An <a href="https://github.com/freerange/printer">open source kit</a> for exploring the possibilities of internet-of-things printing.

  %p
    %img{:src => "/images/printer/printer.jpg"}

  %p
    The best background is
    = succeed "." do
      %a{:href => "/hello-printer"}
        the introductory blog post
    In a nutshell, it's a software system that makes it easy for <b>YOU</b> to:

  %p
    &mdash;
    = succeed "," do
      %a{:href => "https://github.com/freerange/printer/wiki/Making-your-own-printer"}
        build your own small internet-connected printers

  %p
    &mdash;
    produce
    %a{:href => "https://github.com/freerange/printer/wiki/Building-content-services"}
      customised content
    for them, and

  %p
    &mdash;
    %a{:href => "https://github.com/freerange/printer/wiki/Architecture"}
      share that content
    with other people who also have small internet-connected printers.

  %p
    Read more about it in
    = succeed "," do
      %a{:href => "/hello-printer"}
        the introductory blog post
    in
    %a{:href => "https://github.com/freerange/printer/wiki"}
      the wiki
    or go
    = succeed "." do
      %a{:href => "https://github.com/freerange/printer"}
        straight to the source

  %p
    = succeed "." do
      %a{:href => "http://printer-mail.herokuapp.com/send/freerange"}
        Send us a message
      or
      %a{:href => "http://printer-paint.herokuapp.com/send/freerange"}
        draw us a picture
      and it will be printed in our office

.section.group
  %a{:name => "kit"}
  %h2 Register interest in a Printer kit
  %p
    You can always buy the components to <a href="https://github.com/freerange/printer/wiki/Making-your-own-printer">build a printer yourself</a>, but we thought some people might be interested in purchasing a kit, pre-configured and ready to run.
  %p
    We don't know if we will actually go ahead with this; it depends in large part on the level of interest. The cost of everything required (printer, Arduino, components) is probably in the ballpark of £80-100. If you've already got an Arduino, or an Arduino with an Ethernet+SD shield, the cost would be considerably lower.
  <iframe src="https://docs.google.com/a/gofreerange.com/spreadsheet/embeddedform?formkey=dHFMOFdIWVo4Ym9ITDhhbHhibktOUHc6MQ" width="606" height="594" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

.section.group
  %a{:name => "borrow"}
  %h2 Borrow a Printer
  %p
    If you've got a great idea for using Printer, we'd love to help you explore it. We have a very small number of printers that we can loan on a temporary basis.
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dENmT2RKMTJ1NnZ6c0R5RzBXMlJIcEE6MQ" width="606" height="608" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>



:layout: timmy-layout