%h2#tag
  Welcome to Project&nbsp;Codename:&nbsp;Timmy&nbsp;Printface.

.section.group
  <iframe src="http://player.vimeo.com/video/22439313?color=ffffff" width="640" height="480" frameborder="0"></iframe>

.section.group
  %h2 Play along
  %p
    We're using the
    %a{:href => "https://api.hashblue.com"}
      \#blue API
    to print SMS messages as soon as they're received by
    = succeed "," do
      %em Timmy
    one of our test handsets.
  %p
    %strike
      Try it yourself!
      = succeed "." do
        %strong
          Text us a message at +447716354419
    &nbsp;
    %em
      Lines are now closed; enjoy the video above :)

  %p
    %a{:href => "https://hashblue.com"}
      \#blue
    is a beta service that
    %a{:href => "/"}
      we at Go Free Range
    have been building for
    = succeed "." do
      %a{:href => "http://www.o2.co.uk"}
        O2
    If you're an O2 customer, you can
    = succeed "." do
      %a{:href => "https://hashblue.com/"}
        sign up today

  %p
    If you'd like to learn more about Timmy and
    = succeed "," do
      %a{:href => "https://hashblue.com"}
        \#blue
    have a gander at our
    = succeed "." do
      %a{:href => "/say-hello-to-timmy-printface"}
        blog post

:layout: project-layout
