<!DOCTYPE html>
<html lang="en">
  <head>
    <%= yield :head %>
    <%= render partial: 'shared/head' %>
    <title>
      <% default_title = content_for(:default_title) || 'Go Free Range build outstanding software for the web.' %>
      <%= (@snip && @snip.page_title) || default_title %><%= content_for(:title_suffix) %>
    </title>
  </head>
  <% body_class = content_for(:body_class) || body_class(@snip) %>
  <%= content_tag(:body, class: [body_class, day_of_week]) do %>
    <div id="page">
      <div id="header" class="group">
        <% if content_for?(:header) %>
          <%= content_for(:header) %>
        <% else %>
          <%= render partial: 'shared/top_nav' %>
          <%= render partial: 'shared/logo' %>
        <% end %>
      </div>
      <div id="content" class="group">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  <% end %>
</html>
