<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title || 'Go Free Range build outstanding software for the web.' %>
    </title>
  </head>
  <body class="<%= body_class(@snip) %>">
    <div id="page" class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= render partial: 'shared/navigation' %>
          <div id="content" class="group">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
