<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title || 'Go Free Range build outstanding software for the web.' %>
    </title>
  </head>
  <body class="<%= body_class(@snip) %>">
    <div id="page">

      <div id="header" class="group">
        <%= render partial: 'shared/top_nav' %>
        <%= render partial: 'shared/logo' %>
      </div>

      <div id="content" class="group">
        <%= yield %>
      </div>

    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
