<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title %> &mdash; Go Free Range.
    </title>
  </head>
  <body class='blog'>
    <div id='page'>
      <div class='group' id='header'>
        <ul class='nav group' id='blog_nav'>
          <li id='link_home'>
            <p>
              Visit our
              <a href='/'>company website</a>
            </p>
          </li>
          <li id='link_rss'>
            <p>
              Grab the
              <a href='http://feeds.gofreerange.com/GoFreeRangeBlog' title='RSS Feed from Feedburner'>RSS</a>
              feed
            </p>
          </li>
        </ul>
        <h1 id='logo'>
          <a href='/blog' title='Go to blog index'>Blog index</a>
        </h1>
      </div>
      <div class='group' id='content'>
        <div class='blog_entry group'>
          <p class='article_date'>
            <%= article_date(@snip.created_at) %>
          </p>

          <div class='author'>
            <img src='<%= @author.image %>' alt='<%= @author.name.titleize %>'/>
            <span>
              by <%= @author.name.titleize %>
            </span>
          </div>

          <div class='content'>
            <%= yield %>
          </div>

          <div id='comments' class='comments'>
            <% if Rails.env.production? %>
              <%= render partial: 'shared/disqus_commenting' %>
            <% else %>
              Disqus commenting is only enabled in production.
            <% end %>
          </div>
        </div>

        <div id='article_links'>
          <h3>Recent</h3>
          <ul id='recent_articles'>
            <%= list_of kind: @snip.kind, limit: 5 %>
          </ul>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
