<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title || 'Assorted Essays' %> &mdash; Go Free Range.
    </title>
  </head>
  <body class='blog'>
    <div id='page'>
      <div class='group' id='header'>
        <%= render partial: 'shared/blog_nav' %>
        <h1 id='logo'>
          <a href='/blog' title='Go to blog index'>Blog index</a>
        </h1>
      </div>
      <div class='group' id='content'>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
