<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @snip.video_js %>
      <% content_for :stylesheets do %>
        <link href="//vjs.zencdn.net/4.7.2/video-js.css" rel="stylesheet" />
      <% end %>
      <% content_for :javascripts do %>
        <script src="//vjs.zencdn.net/4.7.2/video.js"></script>
      <% end %>
    <% end %>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title %> &mdash; Go Free Range.
    </title>
  </head>
  <body class="blog <%= day_of_week %>">
    <div id="page">
      <div id="header" class="group">
        <%= render partial: 'shared/blog_nav' %>
        <%= render partial: 'shared/blog_logo' %>
      </div>
      <div id="content" class="group">
        <div class="blog_entry group">
          <p class="article_date">
            <%= @snip.created_at.to_date.to_s(:full_ordinal) %>
          </p>

          <div class="author">
            <img src="<%= image_path(@author.image) %>" alt="<%= @author.name.titleize %>"/>
            <span>
              by <%= @author.name.titleize %>
            </span>
          </div>

          <div class="content">
            <%= yield %>
          </div>

          <%= render partial: 'shared/commenting' %>
        </div>

        <div id="article_links">
          <h3>Recent</h3>
          <div id="recent_articles">
            <ol class="blog_list" reversed="">
              <% BlogArticle.all.to_a.last(6).to_enum.with_index(1).reverse_each do |snip, index| %>
                <%= content_tag(:li, link_to_snip(snip), value: index) %>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
