<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      Go Free Range build outstanding software for the web.
    </title>
  </head>
  <body class="<%= body_class(@snip) %>">
    <div id="page">

      <div id="header" class="group">
        <%= render partial: 'shared/top_nav' %>
        <h1 id="logo">
          <a href="/" title="Go to homepage">Go Free Range</a>
        </h1>
      </div>

      <div id="content" class="group">
        <%= yield %>
      </div>

    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
