<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title || "Show and Tell event" %> &mdash; Go Free Range.
    </title>
  </head>
  <body class="blog">
    <div id="page">
      <div id="header" class="group">
        <%= render partial: 'shared/blog_nav' %>
        <%= render partial: 'shared/show_and_tell_logo' %>
      </div>
      <div id="content" class="group">
        <div class="blog_entry group">
          <p class="article_date">
            <%= @snip.created_at.to_date.to_s(:full_ordinal) %>
          </p>

          <div class="author">
            <img src="<%= @author.image %>" alt="<%= @author.name.titleize %>"/>
            <span>
              by <%= @author.name.titleize %>
            </span>
          </div>

          <div class="content">
            <%= yield %>
          </div>

          <div id="comments" class="comments">
            <% if Rails.env.production? %>
              <%= render partial: 'shared/disqus_commenting' %>
            <% else %>
              Disqus commenting is only enabled in production.
            <% end %>
          </div>
        </div>

        <div id="article_links">
          <h3>Recent</h3>
          <div id="recent_articles">
            <ol class="show-and-tell_list" reversed="">
              <% ShowAndTell.all.to_a.last(6).to_enum.with_index(1).reverse_each do |snip, index| %>
                <%= content_tag(:li, link_to_snip(snip), value: index) %>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
