<% content_for(:default_title) do %>Show and Tell event<% end %>
<% content_for(:title_suffix) do %> &mdash; Go Free Range.<% end %>
<% content_for(:body_class) do %>blog<% end %>
<% content_for(:header) do %>
  <%= render partial: 'shared/blog_nav' %>
  <%= render partial: 'shared/show_and_tell_logo' %>
<% end %>

<% content_for(:content) do %>
  <div class="blog_entry group">
    <p class="article_date">
      <%= @snip.created_at.to_date.to_s(:full_ordinal) %>
    </p>

    <div class="author">
      <img src="<%= image_path(@author.image) %>" alt="<%= @author.name.titleize %>"/>
      <span>
        by <%= @author.name.titleize %>
      </span>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <%= render partial: 'shared/commenting' %>
  </div>

  <div id="article_links">
    <h3>Recent</h3>
    <div id="recent_articles">
      <ol class="show-and-tell_list" reversed="">
        <% ShowAndTell.all.to_a.last(6).to_enum.with_index(1).reverse_each do |snip, index| %>
          <%= content_tag(:li, link_to_snip(snip), value: index) %>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
