<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= (@snip && @snip.page_title) || content_for(:page_title) || 'Wiki' %> &mdash; Go Free Range.
    </title>
  </head>
  <body class="wiki <%= day_of_week %>">
    <div id="page">
      <div id="header" class="group">
        <%= render partial: 'shared/blog_nav' %>
        <%= render partial: 'shared/logo' %>
      </div>
      <div id="content" class="group">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
