<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/head' %>
    <title>
      <%= @snip.page_title || 'Wiki' %> &mdash; Go Free Range.
    </title>
  </head>
  <body class="wiki">
    <div id="page">
      <div id="header" class="group">
        <%= render partial: 'shared/blog_nav' %>
        <%= render partial: 'shared/logo' %>
      </div>
      <div id="content" class="group">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
