<% content_for :top do %>
  <%= link_to 'New Mapping', new_shortener_mapping_path, class: 'btn btn-lg btn-primary btn-block mb-3' %>
<% end %>

<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th><%= label_text(:key) %></th>
      <th><%= label_text(:url) %></th>
      <th><%= label_text(:short_url) %></th>
    </tr>
  </thead>
  <tbody>
    <% @mappings.each do |mapping| %>
      <tr>
        <td><%= link_to mapping.key, shortener_mapping_path(mapping) %></td>
        <td><%= link_to mapping.url, mapping.url %></td>
        <td><%= link_to mapping.short_url, mapping.short_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
