<% content_for :top do %>
  <p><%= label_text(:url) %>: <%= link_to @mapping.url, @mapping.url %></p>
  <p><%= label_text(:key) %>: <%= @mapping.key %></p>

  <%= link_to 'Mappings', shortener_mappings_path %>
<% end %>
